# MetaApi V3 Configuration
# Get your token at https://app.metaapi.cloud/
METAAPI_ENABLED=false
COPYFACTORY_ENABLED=false
METAAPI_TOKEN=your_metaapi_token_here
METAAPI_REGION=new-york
METAAPI_ACCOUNT_REPLICA_COUNT=1
METAAPI_DEFAULT_PLATFORM=mt5
